.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  inset: 0;
  gap: 35px;
  padding: 0px 25px;
  background: linear-gradient(
    0deg,
    rgba(15, 84, 214, 1) 10%,
    rgba(29, 28, 41, 1) 70%
  );
}

:root {
  color: white;
  --blue: rgba(15, 84, 214, 1);
  --black: rgba(29, 28, 41, 1);
  --fadedBlack: rgba(34, 40, 52, 255);
}

.App p {
  padding: 0px;
  margin: 0px;
}

.section {
  border-radius: 20px;
  box-shadow: 0px 2px 12px 3px rgb(0, 0, 0, 0.8);
  height: 90%;
  width: 400px;
  padding: 20px 20px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(15, 84, 214, 1) 10%,
    rgba(29, 28, 41, 1) 70%
  );
}

.heading {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}
